* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

header {
    text-align: center;
    background-color: #004c21;
    text-emphasis-color: white;
    height: 100px;
    /* padding: 20px 35px; */
    /* width: 800px; */
    align-content: center;
    color:white;
}

#search-container {
    background-color:rgba( 0, 29.8, 12.94, 0.8);
    border-radius: 25px;
    align-content: center;
    justify-content: center;
}

.section-img {
    padding: 60px;
    background-image: url(./images.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 500px;
    height: 500px;
    
    
}

 .container {
    background-color: #004c21;
    text-emphasis-color: white;
    /* padding: 20px 35px; */
    /* width: 800px; */
     /* align-content: center; */
    color: white 
    
}

.container2 {
    text-align: center;
    background-color: #004c21;
    text-emphasis-color: white;
    /* padding: 20px 35px; */
    color:white
}

.row {
    overflow: scroll;
    text-overflow: ellipsis;
}
.button-text {
    width: 295px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

/* .btn-secondary {
    text-overflow: ellipsis;
} */